<div class="order-container" *ngIf="!showGreeting">
    <div class="order-details">
        <h1>Order Summary</h1>
        <table>
            <tr>
                <th>Item</th>
                <th>Qty</th>
                <th>Price</th>
            </tr>
            <tr *ngFor="let item of cartService.cart">
                <td>{{item.name}}</td>
                <td>{{item.count}}</td>
                <td>{{item.price*item.count}}</td>
            </tr>
        </table>
        <div class="address">
            <h2>Address</h2>
            <p>Address1 : {{order.deliveryAddress.address1}}</p>
            <p>Address2 : {{order.deliveryAddress.address2}}</p>
            <p>Email : {{order.deliveryAddress.email}}</p>
            <p>Phone Number : {{order.deliveryAddress.phoneNumber}}</p>
            <p>City : {{order.deliveryAddress.city}}</p>
            <p>State : {{order.deliveryAddress.state}}</p>
            <p>ZipCode : {{order.deliveryAddress.zip}}</p>
        </div>
    </div>
    <div class="payment-methods">
        <h1>Payment Method</h1>
        <table>
            <tr>
                <td>Subtotal</td>
                <td>Rs.{{cartService.total}}</td>
            </tr>
            <tr>
                <td>Taxes</td>
                <td>Rs.{{cartService.total*0.1}}</td>
            </tr>
            <tr>
                <td>Delivery Fee</td>
                <td>Rs.500</td>
            </tr>
            <tr>
                <th>Total Price</th>
                <th>Rs.{{cartService.total*1.1+500 |number:'1.2-2'}}</th>
            </tr>
        </table>
        <h2>Payment Type:</h2>
        <div class="payment-type">
            <input type="radio" id="cash" name="cash" checked="true" readonly>
            <label for="cash">Cash on delivery</label>
        </div>
        <button (click)="onPlaceOrder()">Place Order</button>
    </div>
</div>
<div class="order-greetings" *ngIf="showGreeting">
            <img src="../../assets/tickmark.svg" alt="tickmark">
            <p>Thanks for ordering</p>   
</div>
