<div class="login-container">
    <form #loginForm="ngForm" (ngSubmit)="onLoginSubmit(loginForm)" class="login-form">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" [(ngModel)]="email">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" [(ngModel)]="password">
        </div>
        <button type="submit">Login</button>
        <a href="#">Don't have an account?create one</a>
    </form>
</div>
