//initial styling
*{
    margin:0px;
    padding:0px;
}

//login-container styling
.login-container{
    margin:auto;
    width:95%;
    height:70vh;
}

.loader{
    display:flex;
    height:100%;
    align-items: center;
    justify-content: center;
}


.error{
    background-color:lighten($color: #d9534f, $amount: 35) ;
    color: #d9534f;
    padding:10px;
    font-size:1.1em;
    font-weight: bold;
    width:40%;
    margin:auto;
    text-align: center;
    border-radius: 20px;
}

.login-form{
    width:40%;
    padding:20px;
    margin:auto;
    button{
        display:block;
        width:95%;
        margin:auto;
        padding:7px;
        font-size: 1.2em;
        color: white;
        font-weight: bold;
        background-color: #B44668;
        border:none;
        border-radius: 20px;
        cursor: pointer;

        &:disabled{
            background-color:lighten($color:#B44668 , $amount: 20)
        }
    }

    a{
        text-align: center;
        font-size:18px;
        display: block;
        margin:5px 0px;
        font-weight: bold;
        color:black;
    }
}

.form-group{
    width:95%;
    margin:10px auto;

    label,input{
        display:block;  
    }

    label{
        font-size:1.2em;
        font-weight:bold;
        margin:5px 0px;
    }

    input{
        padding:5px 10px;
        width:95%;
        border-radius:20px;
        border:2px solid black;
        font-size: 18px;
    }

    .error-msg{
        background-color:#d9534f;
        width:95%;
        margin:auto;
        color:white;
        font-weight: bold;
        letter-spacing: 1px;
        padding:10px;
        position: relative;
        margin-top:6px;
        border-radius:5px;
        animation:slide-down 0.5s ease-in-out 1;
        z-index:10;
        &::after{
            content:"";
            border-color: #d9534f  transparent;
            border-style: solid;
            border-width:0px 4px 4px 4px;
          
            position: absolute;
            width:0px;
            height:0px;
            bottom:100%;
            left:15px;
        }
    }

    .ng-invalid.ng-touched{
        border:2px solid #d9534f;
    }
}

@keyframes slideDown{
    from{
        transform: translateY(-30px);
        opacity:0;
    }
    to{
        transform: translateY(0px);
        opacity:1;
    }
}