//initial styling
*{
    margin:0px;
    padding:0px;
}

//login-container styling
.login-container{
    margin:auto;
    width:95%;
    height:70vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.login-form{
    width:40%;
    padding:20px;

    button{
        display:block;
        width:95%;
        margin:auto;
        padding:7px;
        font-size: 1.2em;
        color: white;
        font-weight: bold;
        background-color: #B44668;
        border:none;
        border-radius: 20px;
        cursor: pointer;
    }

    a{
        text-align: center;
        font-size:18px;
        display: block;
        margin:5px 0px;
        font-weight: bold;
        color:black;
    }
}

.form-group{
    width:95%;
    margin:10px auto;

    label,input{
        display:block;  
    }

    label{
        font-size:1.2em;
        font-weight:bold;
        margin:5px 0px;
    }

    input{
        padding:5px 10px;
        width:95%;
        border-radius:20px;
        border:2px solid black;
        font-size: 18px;
    }
}