<div class="address-container">
    <div class="loader" *ngIf="showLoader">
        <app-loader></app-loader>
    </div>
    <p class="success" *ngIf="showSuccess">Address saved succesfully</p>
    <p class="error" *ngIf="showError">{{errorMsg}}</p>
    <form #addressForm="ngForm" (ngSubmit)="onAddressSubmit(addressForm.value)" class="address-form" *ngIf="showForm">
        <div class="form-group">
            <label for="fullName">Full Name:</label>
            <input type="text" name="fullName" minlength="3" id="fullName" ngModel #fullName="ngModel" required>
            <div *ngIf="fullName.touched && !fullName.valid">
                <p class="error-msg" *ngIf="fullName.errors.required">Full Name is required</p>
                <p class="error-msg" *ngIf="fullName.errors.minlength">Minimum of 3 Characters</p>
            </div>
        </div>
        <div class="form-group">
            <label for="addressLine1">Address Line 1(Street Address):</label>
            <input type="text" name="addressLine1" id="addressLine1" ngModel #addressLine1="ngModel" required>
            <div *ngIf="addressLine1.touched && !addressLine1.valid">
                <p class="error-msg" *ngIf="addressLine1.errors.required">Address Line 1 is required</p>
                <!-- <p class="error-msg" *ngIf="addressLine1.errors.minlength">Minimum of 3 Characters</p> -->
            </div>
        </div>
        <div class="form-group">
            <label for="addressLine2">Address Line 2(Apartment):</label>
            <input type="text" name="addressLine2" id="addressLine2" ngModel #addressLine2="ngModel" required>
            <div *ngIf="addressLine2.touched && !addressLine2.valid">
                <p class="error-msg" *ngIf="addressLine2.errors.required">Address Line 2 is required</p>
                <!-- <p class="error-msg" *ngIf="addressLine1.errors.minlength">Minimum of 3 Characters</p> -->
            </div>
        </div>
        <div class="form-group" style="display: flex;">
            <div class="col-6">
                <label for="city">City:</label>
                <input type="text" name="city" id="city" ngModel #city="ngModel" required/>
                <div *ngIf="city.touched && !city.valid">
                    <p class="error-msg" *ngIf="city.errors.required">City is required</p>
                    <!-- <p class="error-msg" *ngIf="city.errors.pattern">Please enter a valid city.</p> -->
                </div>
            </div>
            <div class="col-6">
                <label for="state">State:</label>
                <input type="text" name="state" id="state" ngModel #state="ngModel" required/>
                <div *ngIf="state.touched && !state.valid">
                    <p class="error-msg" *ngIf="state.errors.required">State is required</p>
                    <!-- <p class="error-msg" *ngIf="state.errors.pattern">Please enter a valid state</p> -->
                </div>
            </div>
        </div>
        <div class="form-group" style="display: flex;">
            <div class="col-6">
                <label for="ZIPCode">ZIP Code:</label>
                <input type="number" name="ZIPCode" id="ZIPCode" ngModel #ZIPCode="ngModel" required
                    pattern="^[0-9]{6}$" />
                <div *ngIf="ZIPCode.touched && !ZIPCode.valid">
                    <p class="error-msg" *ngIf="ZIPCode.errors.required">ZIP Code is required</p>
                    <p class="error-msg" *ngIf="ZIPCode.errors.pattern">Please enter a valid ZIP Code</p>
                </div>               
            </div>
            <div class="col-6">
                <label for="country">Country:</label>
                <!-- <input type="text" name="country" id="country" ngModel #country="ngModel" required /> -->
                <input type="text" id="country" name="country"  value="India" readonly>
            </div>
        </div>
        <div class="form-group" style="display: flex;">
            <div class="col-6">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" ngModel #email="ngModel" required
                    pattern="[\w._@./#&+-]+@[\w]+\.[A-Za-z]{2,4}$" />
                <div *ngIf="email.touched && !email.valid">
                    <p class="error-msg" *ngIf="email.errors.required">Email is required</p>
                    <p class="error-msg" *ngIf="email.errors.pattern">Please enter a valid email</p>
                </div>
            </div>
            <div class="col-6">
                <label for="phoneNumber">Phone Number:</label>
                <input type="number" name="phoneNumber" id="phoneNumber" ngModel #phoneNumber="ngModel" required
                    pattern="^[0-9]{10}$" />
                <div *ngIf="phoneNumber.touched && !phoneNumber.valid">
                    <p class="error-msg" *ngIf="phoneNumber.errors.required">Phone Number is required</p>
                    <p class="error-msg" *ngIf="phoneNumber.errors.pattern">Please enter a valid phone number</p>
                </div>
            </div>
        </div>
        <button type="submit" [disabled]="!addressForm.valid">Save Address</button>
    </form>
</div>
 