<div class="loader" *ngIf="showLoader">
    <app-loader ></app-loader>
</div>\
<div class="product-container" *ngIf="!showLoader">
    <div class="product-details"  >
        <div class="product-carousel-container">
            <div class="product-carousel" [style.transform]="'translateX('+value+'px)'">
                <img *ngFor="let image of product.carouselImg" src="{{image}}" alt="{{product.name}}" class="carousel-img">
            </div>
            <img src="../../assets/chevron-left.svg" alt="chevron left" class="carousel-control-left" (click)="onLeftCarouselControlClick()" *ngIf="displayLeftControl()" >
            <img src="../../assets/chevron-right.svg" alt="chevron left" class="carousel-control-right"
            (click)="onRightCarouselControlClick()" *ngIf="displayRightControl()">
        </div>
        <div class="product-info">
            <div class="product-about">
                <h1 class="product-title">{{product.name}}</h1>
                <div class="product-quantity" (mouseleave)="onOutSideClick()">
                    <div class="quantity-container" >
                        <div class="quantity-display">
                            <p *ngIf="productQuantity === 0">Qty</p>
                            <p *ngIf="productQuantity > 0">{{productQuantity}}</p>
                            <p (click)="onQuantityClick()">
                                <img src="../../assets/chevron-down-white.svg" alt="chevron down image" [style.transform]="'rotate('+angle+'deg)'">
                            </p>
                        </div>
                        <ul class="quantity-dropdown" *ngIf="showQuantity" @drop>
                            <li (click)="onQuantityNumberClick(1)">1</li>
                            <li (click)="onQuantityNumberClick(2)">2</li>
                            <li (click)="onQuantityNumberClick(3)">3</li>
                            <li (click)="onQuantityNumberClick(4)">4</li>
                            <li (click)="onQuantityNumberClick(5)">5</li>
                            <li (click)="onQuantityNumberClick(6)">6 (Half-Brick)</li>
                            <li (click)="onQuantityNumberClick(12)">12 (Full-Brick)</li>
                        </ul>
                    </div>
                    <button (click)="onAddToCartClick()" [disabled]="productQuantity ===0"
                    [ngClass]="{
                        disabled : productQuantity === 0
                    }">Add to Cart</button>
                </div>
                <div class="product-desc">
                    <h3>About:</h3>
                    <ul>
                        <li *ngFor="let line of product.desc">
                            {{line}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="similar-products">
        <h2>Similar Products:</h2>
        <div class="similar-products-display">
            <div class="similar-product-details" *ngFor="let product of similarProducts" class="similar-product">
                <img src="{{product.image}}" alt="{{product.name}}">
                <p>{{product.name}}</p>
                <p>{{product.price}}</p>
            </div>
        </div>
    </div>
    
    <div class="comment-section">
        
        <div class="user-comments">
            <p *ngIf="notLoggedIn" class="notLoggedIn">Please login to comment</p>
            <textarea name="comment" id="comment" cols="70" rows="10" placeholder="Your comment ..." [(ngModel)]="comment"></textarea>
            <div class="post-button-container">
                <button (click)="onPostClick()" [disabled]="comment=== ''"
                [ngClass]="{
                    disabled : comment === ''
                }">Post</button>
            </div>
        </div>
        <div class="comments-display">
            <h2>Comments:</h2>
            <h3 *ngIf="product.comments.length === 0">Be the first to comment !!</h3>
            <div class="comment-block" *ngFor="let comment of product.comments">
                <h3> <span>{{comment.userName[0] | uppercase}}</span>{{comment.userName |titlecase}}</h3>
                <p>{{comment.comment}}</p>
            </div>
        </div>
    </div>
  
</div>
