//initial styling
*{
    margin:0px;
    padding:0px;
}

//shop-container styling
.shop-container{
    width:95%;
    display:grid;
    grid-template-columns: 23% 77%;
    margin: 0px auto 20px auto;
}

//shop-categories styling
.shop-categories{
    margin-right:20px;
  

    //category list styling
    ul{
        list-style: none;
        text-align: center;
        background-color: white;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    }

    ul li{
        padding:10px 0px;
        font-size: 1.2em;
        font-weight:600;
    }

    //category list title styling
    .shop-categories-title{
        background-color:#B44668 ;
        color:white;
    }

    .shop-category{
        cursor: pointer;
        &:hover{
           border-left:4px solid grey;
        }
    }

}


.shop-products{
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    height:80vh;
    padding:15px 0px;
   
    overflow-y: auto;

    .card-decks{
        width:95%;
        margin:auto;
        display:grid;
        grid-template-columns: repeat(4,1fr);
        justify-items:center
    }

    .card-product{
        width:80%;
        margin:10px 5px;
        text-align:center;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
        cursor:pointer;
        padding:10px;
        transition: transform 0.5s ease-in-out;
      
        &:hover{
            transform: translateY(-10px)
        }
        
        img{
            height:150px;
            width:auto;
        }

        p{
            font-weight:bold;
            padding:0px 5px;
            margin:5px 0px;
        }
    }
}

.selected{
    border-left:4px solid #333333;
}