<div class="shop-container">
    <div class="shop-categories">
        <ul>
            <li class="shop-categories-title">Categories</li>
            <li class="shop-category">All</li>
            <li class="shop-category">Bicycle</li>
            <li class="shop-category">Theory 11</li>
            <li class="shop-category">Cartimundi</li>
            <li class="shop-category">Cardistry Decks</li>
            <li class="shop-category">Dan and Dave</li>
        </ul>
    </div>
    <div class="shop-products">
    </div>
</div>
