body,html{
    font-family:'PT Sans', sans-serif;
    margin:0px;
    padding:0px;
    overflow-x: hidden;
}

button,input,textarea{
    font-family:'PT Sans', sans-serif;
    font-size:inherit;
    &:focus{
        outline: none;
    }
}

button{
    border:0px;
}

