<div class="home">
    <!-- hero section of home page -->
    <div class="hero">
        <img src="../../assets/card.png" alt="home card image" class="hero_img">
        <div class="hero_content">
            <div class="hero_content_position_div">
                <h1>Welcome to card zone!</h1>
                <div class="hero_content_mission">
                    <p>Why buy cards here?</p>
                    <p>Because we at card zone provide playing cards at affordable prices.</p>
                </div>
                <button (click)="onVisitShopClick()">Visit Shop</button>
            </div>
        </div>
    </div>
</div>
